<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  id="cordova-plugin-android-idfa" version="1.0.4">
    <name>Advertising ID (IDFA) Plugin using Google Play Services for Android</name>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <license>MIT</license>

  <!--   <repo>https://github.com/praves77/cordova-plugin-android-idfa.git</repo>
    <issue>https://github.com/praves77/cordova-plugin-android-idfa/issues</issue>
 -->
    <!--<dependency id="com.google.play.services" />-->

    <js-module src="www/androidIDFA.js" name="androidIDFA">
        <!--<clobbers target="androidIDFA" />-->
        <merges target="androidIDFA" />
    </js-module>

<!-- android-specific elements -->
<platform name="android">
    <source-file src="src/android/CoreException.java" target-dir="src/com/praves/cordova/idfa" />
    <source-file src="src/android/AdvertisingIdClient.java" target-dir="src/com/praves/cordova/idfa" />

    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="AndroidIDFA">
            <param name="android-package" value="com.praves.cordova.android.idfa.AndroidIDFA" />
        </feature>
    </config-file>
</platform> 
</plugin>
